* {
    margin: 0;
    padding: 0;
}
header{
    position:sticky;
    top:0;
}
.head {
    display: flex;
    flex-wrap: nowrap;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 100%;
    height: 9.15vh;
    background-color: rgba(5, 127, 249, 0.966);
    gap:1.5vw;
    box-sizing: border-box;
}

.first{
    box-sizing: border-box;
    padding-left: 14vw;
}
 .first img {
    height: 3.5vh;
}

.first-write {
    display: flex;
    font-size: 75%;
    text-decoration:wavy;
}

#white {
    padding-left: 0.15vw;
    padding-right:0.15vw;
    color: white;
    box-sizing: border-box;
}

#yellow {
    color: rgb(244, 159, 13);
    font-size: 110%;
}

.first-write img {
    height: 1.7vh;
    width: 0.85vw;
}

.search {
    padding-left:1vw;
    padding-right: 30px;
    height:5vh;
    width:25vw;
    margin-left: -0.5vw;
}

.login {
    height: 4vh;
    width: 7vw;
    padding-left: 3.5vw;
    text-decoration: green;
}

.seller {
    font-size: 120%;
    color:white;
}

.more {
    font-size: 120%;
    color:white;
}

.cart  {
    /* padding-left: 50px; */
    display: flex;
    
    font-size: 120%;
    color:white;
}
.cart p {
   font-size: 1.3rem;
   padding-left:30px;
    
}
.items{
    display:flex;
    width:100%;
    justify-content:space-between;
    padding-left:1.8vw;
    padding-right:1.8vw;
    box-sizing: border-box;
}
.commo img{
    padding-top: 2vh;
    height:11vh;
    width: 5vw;
}
.commo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 480px) 
{
    .cart{
        display:none;
    }
}
.slider img{
    height:70vh;
    width:100%;
}